################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/Model/bin/Debug/netstandard2.0
/Model/obj
/Pladeco.Web/bin/Debug/netcoreapp2.1
/Pladeco.Web/obj
