@model Model.Area

@{
    ViewData["Title"] = "Create";
}

<!-- Content Header (Page header) -->
<!-- form start -->
<form asp-action="Create" role="form">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <section class="content-header">
        <button type="submit" value="Create" class="btn btn-primary">Guardar</button>
        <a asp-action="Index"><input type="button" class="btn btn-default" value="Descartar"></a>

        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                Acciones <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#">Suprimir</a></li>
                <li><a href="#">Exportar</a></li>
            </ul>
        </div>

        <ol class="breadcrumb">
            <li><a asp-area="" asp-controller="Ticket" asp-action="Index"><i class="fa fa-support"></i>Soporte</a></li>
            <li><a asp-area="" asp-controller="TicketChannels" asp-action="Index">Canales</a></li>
            <li class="active">Nuevo</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="box box-primary">
                    <div class="box-header with-border">

                    </div>
                    <!-- /.box-header -->

                    <div class="box-body">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Name" class="control-label"></label>
                                <input asp-for="Name" class="form-control" placeholder="Nombre" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!--/.col (right) -->
        </div>
        <!-- /.row -->
    </section>
</form>
<!-- /.content -->

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
