@model Pladeco.Model.Budget

@{
    ViewData["Title"] = "Edit";
}


<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <!-- Page header -->
    <div class="page-header">
        <br />
        <div class="breadcrumb-line breadcrumb-line-component">
            <ul class="breadcrumb">
                <li><a asp-action="Index"><i class="icon-wallet"></i>Presupuesto</a></li>
                <li class="active">@Model.Area.Name</li>
            </ul>
            <ul class="breadcrumb-elements">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-gear position-left"></i>Acciones
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li><a href="#" data-toggle="modal" data-target="#modal_theme_danger"><i class="icon-database-remove"></i> Eliminar</a></li>
                        <li><a href="#"><i class="icon-file-download"></i> Exportar</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <br />
        <div class="page-header-content">
            <div class="text-left">
                <button type="submit" class="btn bg-green-700">Guardar<i class="icon-arrow-right14 position-right"></i></button>
                <a asp-action="Details" asp-route-id="@Model.ID" class="btn btn-default" role="button">Descartar</a>
            </div>
            <div class="heading-elements">
            </div>
        </div>
    </div>
    <!-- /page header -->
    <!-- Content area -->
    <div class="content">
        <!-- Vertical form options -->
        <div class="row">
            <div class="col-md-12">
                <!-- Basic layout-->
                <p>
                    <div class="text-left">
                    </div>
                </p>
                <div class="panel panel-flat">
                    <div class="panel-body">

                        <div class="form-group">
                            <label asp-for="AreaID" class="control-label"></label>
                            <select asp-for="AreaID" class="select" asp-items="ViewBag.area_id"></select>
                            <span asp-validation-for="AreaID" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Amount" class="control-label"></label>
                            <input asp-for="Amount" class="form-control" />
                            <span asp-validation-for="Amount" class="text-danger"></span>
                        </div>
                        <input type="hidden" asp-for="ID" />
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer -->
        <partial name="_Footer" />
        <!-- /footer -->
    </div>

</form>

<!-- Danger modal -->
<div id="modal_theme_danger" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-danger">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h6 class="modal-title">¡Atención!</h6>
            </div>

            <div class="modal-body">
                <h6 class="text-semibold">¿Está seguro que desea eliminar este elemento?</h6>
                <p>Esta acción es irreversible</p>

            </div>

            <div class="modal-footer">
                <form asp-action="Delete">
                    <button type="button" class="btn btn-link" data-dismiss="modal">Cancelar</button>
                    <input type="hidden" asp-for="ID" />
                    <input type="submit" value="Eliminar" class="btn btn-danger" />
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /default modal -->
<!-- /content area -->
<!-- /vertical form options -->
<!-- Theme JS files -->
<script src="~/js/plugins/forms/selects/select2.min.js"></script>
<script src="~/js/plugins/forms/styling/uniform.min.js"></script>
<script src="~/js/custom/custom_select2.js"></script>
<script src="~/js/demo_pages/form_layouts.js"></script>
<script src="~/js/custom/custom_checkradio.js"></script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
