<div class="legal">
    <div class="version">
        Powered by
        <a href="http://valsoft.com.ar" target="_blank"><img src="~/images/logo_light.png" width="50" alt="VALSoft" /></a>
    </div>
</div>