<div class="legal">
    <div class="version">
        Powered by
        <a href="http://www.consultoragrupodxas.com" target="_blank"><img src="~/images/logo-copy.png" width="50" alt="DXAS" /></a>
    </div>
</div>