<ul class="sidebar-menu" data-widget="tree">
    <li class="header">MENU</li>
    <!-- Optionally, you can add icons to the links -->

    <li class="active"><a asp-area="" asp-controller="Updates" asp-action="Index"><i class="fa fa-dashboard"></i> <span>Escritorio</span></a></li>
    <li><a asp-area="" asp-controller="Updates" asp-action="Index"><i class="fa fa-upload"></i> <span>Actualizaciones</span></a></li>
    <li><a asp-area="" asp-controller="Partners" asp-action="Index"><i class="fa fa-address-book-o"></i> <span>Clientes</span></a></li>
    <li><a asp-area="" asp-controller="Servers" asp-action="Index"><i class="fa fa-server"></i> <span>Servers</span></a></li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-support"></i> <span>Suporte</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a asp-area="" asp-controller="Tickets" asp-action="Index">Tickets</a></li>
            <li class="treeview">
                <a href="#">
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>Ajustes
                </a>
                <ul class="treeview-menu">
                    <li><a asp-area="" asp-controller="TicketChannels" asp-action="Index">Canales</a></li>
                    <li><a asp-area="" asp-controller="TicketCategories" asp-action="Index">Categorias</a></li>
                    <li><a asp-area="" asp-controller="TicketStatus" asp-action="Index">Estados</a></li>
                    <li><a asp-area="" asp-controller="TicketTags" asp-action="Index">Etiquetas</a></li>
                    <li><a asp-area="" asp-controller="TicketPriorities" asp-action="Index">Prioridades</a></li>
                </ul>
            </li>
        </ul>
    </li>
</ul>