<ul class="sidebar-menu" data-widget="tree">
    <li class="header">MENU</li>
    <!-- Optionally, you can add icons to the links -->

    <li class="active"><a asp-area="" asp-controller="Updates" asp-action="Index"><i class="fa fa-dashboard"></i> <span>Escritorio</span></a></li>
    <li><a asp-area="" asp-controller="Projects" asp-action="Index"><i class="fa fa-folder"></i> <span>Proyectos</span></a></li>
    <li><a asp-area="" asp-controller="Budges" asp-action="Index"><i class="fa fa-dollar"></i> <span>Presupuesto</span></a></li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-gears"></i> <span>Administración</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a asp-area="" asp-controller="Roles" asp-action="Index">Roles</a></li>
            <li><a asp-area="" asp-controller="Users" asp-action="Index">Usuarios</a></li>
            <li><a asp-area="" asp-controller="Areas" asp-action="Index">Areas</a></li>
        </ul>
    </li>
</ul>